.search__error {
    position: absolute;
    top: 100%;
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    box-sizing: border-box;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
    background-color: rgba(255, 0, 0, 0.5);
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    outline: none;
}

.search__error_hide {
    display: none;
}

@media screen and (max-width: 425px) {
    .search__error {
        top: unset;
        bottom: 100%;
    }
  }