.results__cards-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 70px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .results__cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .results__cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}