@import url(./__avatar/author__avatar.css);
@import url(./__text-container/author__text-container.css);
@import url(./__text-content/author__text-content.css);
@import url(./__title/author__title.css);

.author {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  padding: 80px 216px 80px 104px;
  box-sizing: border-box;
}
