@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/nav/nav.css);
@import url(../blocks/main/main.css);
@import url(../blocks/author/author.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/common-styles/custom-cursor.css);
@import url(../../node_modules/swiper/css/swiper.min.css);
@import url(../../node_modules/flickity/css/flickity.css);
@import url(../../node_modules/@glidejs/glide/dist/css/glide.core.min.css);
@import url(../../node_modules/@glidejs/glide/dist/css/glide.theme.min.css);

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 5.6% 5% 6.5% 5%;
  box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

.message__holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1232px;
  width: 100%;
}

.message__title {
  margin: 0 0 2% 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

.message__text-content {
  margin: 0 0 2% 0;
  max-width: 815px;
  width: 100%;
}

.message__text-content:last-of-type {
  margin: 0;
}

.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 334px;
  width: 100%;
  /* padding: 0 5%; */
  padding: 0;
  box-sizing: border-box;
  color: #1a1b22;
  background: #f5f6f7;
}

.tech__holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  padding-right: 112px;
  box-sizing: border-box;
  align-items: flex-start;
  max-width: 1232px;
  width: 100%;
  outline: 1px solid red;
}

.tech__title {
  margin: 0;
  max-width: 344px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  outline: 1px solid red;
}

.tech__item-container {
  /* align-self: flex-end; */
  flex-grow: 1;
  display: grid;
  justify-content: end;
  /* align-content: stretch; */


  grid-template-columns: repeat(auto-fit, minmax(120px, 120px));
  gap: 5%;
  width: 50%;
  /* display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; */
  /* padding-right: 9%; */
  /* width: auto; */
  outline: 5px solid purple;
}

.tech__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  outline: 2px solid red;
}

.tech__item-title {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
}

.tech__item-pic {
  margin: 0;
  width: 120px;
  height: 120px;
}

.commits {
  margin-bottom: 50px;
  width: 100%;
}

/* Меняем цветовую схему и размеры кнопок навигации в конкретном экземпляре слайдера */
.commits__carousel .flickity-prev-next-button {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: unset;
  z-index: 1;
  background: #1a1b22;
}

.commits__carousel .flickity-prev-next-button:hover {
  background: white;
}

.commits__carousel .flickity-button-icon  {
  position: relative;
  left: unset;
  top: unset;
  width: 30%;
  height: 30%;
}

.commits__carousel .flickity-prev-next-button .arrow {
  fill: white;
}

.commits__carousel .flickity-prev-next-button:hover .arrow {
  fill: #1a1b22;
}

.commit-card {
  min-width: 264px;
  max-width: 400px;
  width: 100%;
  height: 288px;
  margin-right: 16px;
  border-radius: 16px;
  background-color: lightgray;
}

.commit-card__link {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: transparent;
}

.commits__slider {
  position: relative;
  max-height: 288px;
}

.commits__shadower {
  position: absolute;
  width: 5%;
  height: 100%;
  z-index: 1;
}

.commits__shadower_left {
  left: 0;
  background: linear-gradient(to left, transparent, white);
}
.commits__shadower_right {
  right: 0;
  background: linear-gradient(to right, transparent, white);
}
