.tech__title {
  margin: 0;
  margin-right: 10%;
  margin-bottom: 5%;
  max-width: 344px;
  font-family: Roboto Slab, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

@media screen and (max-width: 768px) {
  .tech__title {
    margin-right: 30%;
    font-size: 30px;
    line-height: 34px;
  }
}

@media screen and (max-width: 425px) {
  .tech__title {
    margin: 0;
    line-height: 40px;
  }
}
