.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 576px;
  width: 100%;
  background-image: url(../../images/header-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.header_black {
  color: black;
}

.header_white {
  color: white;
}

.header_slim {
  min-height: 0;
  background-image: none;
}
