.author__title {
  margin: 0;
  font-family: Roboto Slab, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
}

@media screen and (max-width: 768px) {
  .author__title {
    font-size: 30px;
    line-height: 40px;
  }
}
